
:root{
  --dark: #212529;
    --black:rgb( 0, 0, 0);
    --white:#ffffff;
    --white-on-dark: rgb(255,255,255);
    --navy: #001935;
    --red: rgb(255,73,47);
    --orange: rgb(255,138,0);
    --yellow: rgb(232, 215, 56);
    --green:#00cf35;
--green-line:#00b82f;
    --blue: #00b8ff;
    --purple: #7c5cff;
    --pink: rgb(255, 98, 206);
    --accent: rgb(0, 184, 255);
    --secondary-accent: rgb(229, 231, 234);
    --follow: rgb(243, 248, 251);
--big-tumblr-font-size: 60px;
    --font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}
@-ms-viewport {
    width: device-width;
}
html, body {
  height: 100vh;
  overflow:auto;

}
body {
    font-family:var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    color: #525f7f;
    background-color: #f8f9fe;
color:var(--white);
}


#container{
width: 100%;
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
scrollbar-width: thin;
scrollbar-color: rgba(var(--black),.4) rgba(var(--white),.1);
}



.navbar{
position: fixed;
width: 100%;
top:0;
z-index: 100;
}

.tumblr-input{
display: flex;
align-items: center;
justify-content: space-between;
}
.tumblr-input i{
margin-left: 10px
}
.tumblr-input input{
width:30rem;
border: none;
height: 2rem !important;
background-color: rgba(253, 254, 255, 0.3);
color: var(--white);
}


.login-signup-btn  a{
width: 6rem;
color:var(--dark);
font-size: 1rem;
font-weight: 700;
line-height: 1.5;
padding: 6px 13px;

}

.login-signup-btn :nth-child(1){

background-color: var(--green);

}

.login-signup-btn :nth-child(2){

background-color: var(--blue);

}

nav ul{
list-style: none;
margin:auto 0;
color:red;
width: 2rem;
margin-left: 1.5rem;
margin-top: 13.6rem;
position: fixed;
z-index: 100;
}



nav .indicator{
width: 1rem;
height: 1rem;
border-radius: 50%;
margin-top: 10px;
border: 3px solid #c5d0d6;
cursor: pointer;
transition: border 0.5s;
}

nav .activeindicator{
background: #ffffff;
border: 3px solid #ffffff;
}
nav .indicator:hover{
border: 3px solid #ffffff;
transition: 0.5s;

}

.indicator a{
display:block;
width: 1rem;
height: 1rem;
margin-left: -4px;
margin-top: -4px;
}

.btn-success{
background-color: var(--green);

}

.btn-success:hover{

background-color: var(--green);
}

#login{

background-color:var(--navy);
text-align: center;
padding-top: 3rem;
}
.login-contents{
text-align: center;


}


.login-contents h1 a{
font-size: 4.5rem;
text-decoration: none;
color: var(--white-on-dark);
font-weight:bolder;

}

.login-contents h1{
font-weight: 600;
}

.login-contents :nth-child(2){
width: 300px;
font-family: var(--font-family);
font-size: 1.3125rem;
font-weight: 700;
line-height: 1.5238;
margin: 0 auto;
}

.link-tags{

display: flex;
flex-direction: column;
width: 23%;
margin: 0 auto;
}

.link-tags a{
border-radius: 3px;
font-family: var(--font-family);
font-size: 1rem;
font-weight: 700;
line-height: 1.5;
padding: 10px 15px;
width: 100%;
color: var(--white-on-dark);
}

.link-tags :nth-child(1){
background-color: var(--blue);
}
.link-tags :nth-child(2){
margin-top: 20px;
background-color: var(--green);
}

.store{
display: flex;
flex-direction: row;
margin: 0 auto;
width: 23%;
}

.store :nth-child(1){
width:11rem;
height: auto;
}

.store :nth-child(2){
width:10.2rem;
height: auto;
margin-left: 1.2rem;
}


section{
  height: 100vh;
  scroll-snap-align: start;
  position: relative;

}

.about-tumblr{
display: flex;
flex-direction: column;
justify-content: center;
bottom: 0;
position: absolute;
background-color: var(--green);
width: 100%;
height: 2.8rem;
}

.about-tumblr a{
padding-bottom: 0;
margin-bottom: 0;
margin-top: 1rem;
text-decoration: none;
color: var(--white);
font-weight: bold;
}


.terms-links{
margin-top: 8rem;
display: flex;
flex-flow: row;
justify-content: flex-start;
}

.terms-links a{
text-decoration: none;
color:var(--white) ;
margin-left: 0.5rem;

}
.terms-links :nth-child(5){
display: inline-block;
text-align:right;
margin-left: 65%;
}



#About{
background-color: var(--green);
position: relative;
}

.icons{
height: 67vh;
}
.icons .Tumblr{
position: absolute;
font-size: 8rem;
right: 47%;
bottom: 50%;
color: var(--green);
-webkit-text-stroke: 5px var(--white);
opacity: 0;
}

.icons i[class*='fas']{
color: var(--green);
-webkit-text-stroke: 5px var(--green-line);
position: absolute;
opacity: 0;
}

.icons .fa-plus{
font-size: 2.5rem;
right: 0;
bottom: 56.5%;
border-radius:0px;
}

.icons .fa-plus2{
font-size: 2.5rem;
right:42%;
bottom:90%;
border-radius:0px;
}

.icons .fa-plus-big{
font-size: 4rem;
right: 54%;
bottom: 50%;

}

.icons .fa-heart-small{
font-size: 3rem;
right: 100%;
bottom: 0%;
}

.icons .fa-heart-big{
font-size: 3.5rem;
right: 50%;
bottom:100%;
}
.icons .fa-heart-smaller{

font-size: 2rem;
right: 65%;
bottom: 45%;
}

.about-text{
margin:0 auto;
width: 40%;
}

.about-text h1,.blogs-text h1,.workflow-text h1,.media-text h1,.footer-login-contents h1{
font-size: 3rem;
}

 .about-text p,.blogs-text p,.workflow-text p,.media-text p,.footer-login-contents p{
font-size: 1rem;
line-height: 1.5;
margin-bottom: 5px;
}

#Blogs{
background-color: var(--purple);

}
.blogs-text{
text-align: left;
max-width: 540px;
padding-top: 8rem;
margin-left: 9rem;
}
.Blog{
margin-left: 9rem;
display:flex;
flex-flow:wrap row;
width:105%;
color: var(--black);
margin-top: 25rem;
}

.blogs{
border-radius:5px;
width: 300px;
max-width: 300px;
margin-right: 20px;
background-color: var(--white);
}

.blog-heading {
height: 55px;
display: flex;
align-items: center;
justify-content: space-around;
}




.blog-heading:nth-child(1){
color: var(--black);

}

.blog-heading :nth-child(3){
color: var(--blue);
}


.blog-heading img{
width: 40px;
height: 40px;
border-radius:5px;
}


.blog-body img{
width:100%;
height: auto;

}


.loading{
display:flex;
margin: 0 auto;
margin-left: 50%;
}

.loading div{
width: 20px;
height: 20px;
margin: 2px;
border-radius: 5px;
background-color: #b2b7c5;


}



#workflow{
background-color: var(--navy);
display: flex;
color: var(--black);
}
.work-icons{
width: 60%;
padding-top: 6rem;
padding-left: 10rem;
}
.workflow-text{
padding-top: 9rem;
color: var(--white);

}

.sleeping-box{
height:7.5rem ;
margin-top: 40rem;
opacity: 0;
}
.postiforward{
margin-top: 40rem;
opacity: 0;
}
.sleeping-box img,.postiforward > img{
border-radius: 3px;
}

.icons-container{
background-color:var(--white);
height: 6rem;
width: 33rem;
float: right;
border-radius: 3px;
margin-right: 3rem;
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;
}

.post-container{
background-color:var(--white);
float: right;
width: 33rem;
border-radius: 3px;
margin-right: 3rem;
}

.post-container div{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 3.5rem;
}


.icon svg{
margin-top: 5px;
transition: all ease-out 0.2s;
}

.icon svg:hover{
margin-top: 0px;
transition: all ease-out 0.2s;
}

.icon div{
width:40px ;
height:50px;
}


.icons-container :nth-child(1) svg{
fill: var(--black);

}

.icons-container :nth-child(2) svg{
fill:var(--red);

}
.icons-container :nth-child(3) svg{
fill:var(--orange);

}
.icons-container :nth-child(4) svg{
fill:var(--green);

}
.icons-container :nth-child(5) svg{
fill:var(--blue);

}
.icons-container :nth-child(6) svg{
fill:var(--purple);

}
.icons-container :nth-child(7) svg{
fill:var(--pink);

}


.post-container img{
width: 100%;
}

.post-container div span{
font-weight: bold;
margin-left: 25px;
}

.post-container div i{

color:#444444;
margin-right: 25px;
}




#media{
display: flex;
flex-direction: column;
background-color: var(--orange);
align-items: center;
}

.media-icons{

height:60%;
width: 40%;
}

.media-text{
text-align: center;
width:100%;

}
.media-icons-container {
display: flex;
flex-flow: row wrap;
justify-content: center;
padding-top: 60px;

}


.media-icons-container div{
margin: 5px;

display: flex;
flex-direction: column;

text-align: center;

justify-content: center;
align-items: center;

}

.iconContainer{
transition: all 1s;
transform: scale(0.5,0.5);
opacity: 0;
}

.iconContainer:hover{
transition: all 1s;
transform: scale(1,1);

}



.media-icons-container div > div{
width: 110px;
height: 110px;
border-radius: 50%;
background-color: var(--white);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}






#footer{
text-align: center;
background-color: var(--navy);

}
.footer-login-contents{
padding-top: 8rem;


}

.footer-login-contents a{
text-decoration: none;
color: var(--white);

}
